{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Password Reset Link Generated</h2>
            </div>
            <div class="card-body">
                <p class="text-center">Please send the following link to the user to reset their password:</p>
                <div class="alert alert-info">
                    <a href="{{ reset_link }}" class="alert-link">{{ reset_link }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}